<h1>Alpha Blog</h1>

<%= link_to image_tag('Pi-and-Breadboard.png'), 'http://www.reallybigshoe.co.uk' %>

<p>Welcome to the Alpha Blog.</p>

<footer>
  <%= link_to 'Alpha Blog', articles_path %> |
  <%= link_to 'About', about_path %>
</footer>
