<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy;
      <a href="https://www.udemy.com/the-complete-ruby-on-rails-developer-course">
        The Complete Ruby on Rails Developer
      </a>
      by <a href="http://www.mashrurhossain.com">Mashrur Hossain</a>
      followed by <a href="http://www.reallybigshoe.co.uk">Julian Nicholls</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'About', about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
